[Unit]
Description=Remote desktop service (VNC) for %i
After=syslog.target network.target

[Service]
Type=simple
User=arkantu
PAMName=login
PIDFile=/home/arkantu/.vnc/%H%i.pid
ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill :%i > /dev/null 2>&1 || :'
ExecStart=/usr/bin/vncserver :%i -geometry 1920x1080 -depth 24 -localhost no
ExecStop=/usr/bin/vncserver -kill :%i
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
